{% extends '::base.html.twig' %}

{%  block body %}
    <div class="col-md-6 col-md-offset-4">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Thank you! <i class="fa fa-heart"></i></h1>
            </div>
        </div>
    </div>
{% endblock %}